<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />

    <link rel="stylesheet" href="/css/style.css">
    <!-- jQuery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
</head>

<body>
        <div class="uk-width-1-1 index uk-flex uk-flex-middle">
                <div class="uk-container uk-text-center">
                    <h1>404 NOT FOUND</h1>
                    <p class="uk-margin-medium uk-text-lead">
                        
                    </p>
                    <div uk-grid="" class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid">
                        <div class="uk-first-column"><a href="/home" class="uk-button uk-button-primary">back home</a></div>                        
                    </div>
                </div>
            </div>
</body>

</html>