<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About - SnowF - Simple nodeJS Wed Framework</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />

    <link rel="stylesheet" href="/css/style.css">
    <!-- jQuery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="uk-position-relative">
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="#">SnowF</a>

                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">Document</a>
                        </li>
                        <li>
                            <a href="https://github.com/KOPElan/snowf"><span class="uk-icon uk-margin-small-right" uk-icon="icon: git-branch"></span>Source Code</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="uk-width-1-1 index uk-flex uk-flex-middle">
        <div class="uk-container uk-text-center">
            <h2>About SnowF</h2>
            <p class="uk-margin-medium uk-text-lead">
                A Simple nodeJS Wed Framework
            </p>
            <div uk-grid="" class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid">
                <div class="uk-first-column"><a href="/docs" class="uk-button uk-button-primary">Get Started</a></div>
                <div><a href="https://github.com/KOPElan/snowf" class="uk-button uk-button-default">Github</a></div>
            </div>
        </div>
    </div>
</body>

</html>